In [13]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
dados = pd.read_json('Telco-Customer-Churn-limpeza.json')

In [15]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7043 entries, 0 to 7042
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID_Cliente                7043 non-null   object
 1   Churn                     7043 non-null   object
 2   Genero                    7043 non-null   object
 3   Idoso                     7043 non-null   object
 4   Parceiro                  7043 non-null   object
 5   Dependentes               7043 non-null   object
 6   Meses_na_Empresa          7043 non-null   int64
 7   Servico_Telefonico        7043 non-null   object
 8   Multiplas_Linhas          7043 non-null   object
 9   Servico_Internet          7043 non-null   object
 10  Servico_Seguranca_Online  7043 non-null   object
 11  Backup_Online             7043 non-null   object
 12  Protecao_Dispositivo      7043 non-null   object
 13  Suporte_Tecnico           7043 non-null   object
 14  TV_Streaming              7043 non-null   object
 15  Filmes_Streaming          7043 non-null   object
 16  Contrato                  7043 non-null   object
 17  Faturamento_Eletronico    7043 non-null   object
 18  Metodo_Pagamento          7043 non-null   object
 19  Cobranca_Diaria           7032 non-null   float64
 20  Cobranca_Mensal           7043 non-null   float64
 21  Cobranca_Total            7043 non-null   float64
dtypes: float64(3), int64(1), object(18)
memory usage: 1.2+ MB

In [16]:
dados.head()

,ID_Cliente,Churn,Genero,Idoso,Parceiro,Dependentes,Meses_na_Empresa,Servico_Telefonico,Multiplas_Linhas,Servico_Internet,...,Protecao_Dispositivo,Suporte_Tecnico,TV_Streaming,Filmes_Streaming,Contrato,Faturamento_Eletronico,Metodo_Pagamento,Cobranca_Diaria,Cobranca_Mensal,Cobranca_Total
0,0002-ORFBO,No,Female,No,Yes,Yes,9,Yes,No,DSL,...,No,Yes,Yes,No,One year,Yes,Mailed check,65.92,65.6,593.30
1,0003-MKNFE,No,Male,No,No,No,9,Yes,Yes,DSL,...,No,No,No,Yes,Month-to-month,No,Mailed check,60.27,59.9,542.40
2,0004-TLHLJ,Yes,Male,No,No,No,4,Yes,No,Fiber optic,...,Yes,No,No,No,Month-to-month,Yes,Electronic check,70.21,73.9,280.85
3,0011-IGKFF,Yes,Male,Yes,Yes,No,13,Yes,No,Fiber optic,...,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,95.22,98.0,1237.85
4,0013-EXCHZ,Yes,Female,Yes,Yes,No,3,Yes,No,Fiber optic,...,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,89.13,83.9,267.40